<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ info.name }} | Resume</title>
  <meta name="author" content="{{ info.name }}">
  <meta name="description" content="This website is a resume website that showcases my professional experience, education, and skills. The website is built using Python and Node.js.">

  <meta property="og:title" content="{{ info.name }} | Resume">
  <meta property="og:site_name" content="{{ info.name }} | Resume">
  <meta property="og:description" content="This website is a resume website that showcases my professional experience, education, and skills. The website is built using Python and Node.js.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ url }}/img/thumbnail.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ url }}/img/thumbnail.png">
  <meta name="twitter:title" content="{{ info.name }}">
  <meta name="twitter:description" content="This website is a resume website that showcases my professional experience, education, and skills. The website is built using Python and Node.js.">
  <meta name="twitter:site" content="{{ info.twitter }}">

  <!-- Favicon -->
  <link rel="icon" href="img/favicon.svg">

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="css/tailwind.css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/main.css">

  <!-- Custom JS -->
  <!-- Custom JS -->
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC (Flash of Unstyled Content).
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
  <script src="js/dark.js"></script>

  <!-- Fira Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100 transition-colors duration-300">
  <main class="font-fira-sans-extralight text-base font-light leading-normal tracking-normal">
    <div class="w-full h-3 bg-gradient-to-r from-lime-500 via-green-500 via-emerald-500 to-teal-500 print:hidden"></div>

    <div id="page" class="m-0 p-6 mx-auto max-w-2xl print:max-w-5xl md:max-w-5xl md:h-letter xsm:p-8 sm:p-9 md:p-16">

      <header class="mb-6">
        <div class="flex items-center justify-between mb-4">
          <h1 class="font-black text-5xl text-gray-900 dark:text-white pb-px">{{ info.name }}</h1>

          <button id="toggle-dark-mode-button" aria-label="Toggle Dark Mode" class="print:hidden cursor-pointer">
            <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="dark:hidden size-7 text-gray-900 dark:text-gray-100"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="hidden dark:block size-7 text-gray-900 dark:text-gray-100"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          </button>
        </div>

        <p class="mb-1 font-medium text-xl text-slate-600 dark:text-slate-300 leading-normal">{{ info.headline }}</p>

        {% if info.location %}
          <p class="text-slate-500 dark:text-slate-400 leading-relaxed">{{ info.location }}</p>
        {% endif %}

        {% if info.phone %}
          <p class="text-slate-500 dark:text-slate-400 leading-relaxed">{{ info.phone }}</p>
        {% endif %}

        {% if info.email %}
          <p class="text-slate-500 dark:text-slate-400 leading-relaxed">
            <a href="mailto:{{ info.email }}" class="hover:text-green-500 dark:hover:text-green-400 transition-colors duration-200">
              {{ info.email }}
            </a>
          </p>
        {% endif %}
      </header>

      <!-- GLOBALS -->
      {% set section_classes = 'mb-6 break-inside-avoid' %}
      {% set section_title_classes = 'font-semibold mb-4 uppercase tracking-widest text-sm2 text-slate-600 dark:text-slate-300 print:font-normal' %}
      {% set section_subtitle_classes = 'font-semibold text-lg text-slate-900 dark:text-white leading-snug' %}
      {% set section_subtitle_info_classes = 'text-base text-slate-500 dark:text-slate-400 mb-1' %}
      {% set prose_classes = 'prose prose-slate dark:prose-invert text-gray-700 dark:text-gray-300 leading-relaxed' %}

      <div id="main" class="md:columns-2 print:columns-2">
        <section id="about" class="{{ section_classes }}">
          <header>
            <h2 class="{{ section_title_classes }}">About Me</h2>
          </header>

          <div class="{{ prose_classes }}">
            {{ summary | markdown }}
          </div>
        </section>

        <section id="experience" class="{{ section_classes }}">
          <h2 class="{{ section_title_classes }}">Experience</h2>

          {% for workplace in experience %}
            <section class="mb-5 {{ workplace.metadata.class if "metadata" in workplace else '' }}">
              <header class="mb-2">
                <h3 class="{{ section_subtitle_classes }}">{{ workplace.title }} · {{ workplace.name }}</h3>
                <p class="{{ section_subtitle_info_classes }}">{{ workplace.location }} · {{ workplace.date }}</p>
              </header>

              <ul>
                {% for subsection in workplace.subsections %}
                <li class="mt-2 text-md text-gray-700 dark:text-gray-300 leading-normal">
                  <span class="absolute -ml-3 sm:-ml-3 select-none transform -translate-y-px">›</span>

                  <span class="{{ prose_classes }}">
                    {{ subsection.description | markdown }}
                  </span>
                </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </section>

        <section id="education" class="{{ section_classes }}">
          <h2 class="{{ section_title_classes }}">Education</h2>

          {% for school in education %}
            <section class="mb-5">
              <header>
                <h3 class="{{ section_subtitle_classes }}">{{ school.name }}</h3>
                <p class="{{ section_subtitle_info_classes }}">{{ school.date }}</p>
                <p class="text-lg text-slate-900 dark:text-slate-100">{{ school.degree }}</p>
              </header>
            </section>
          {% endfor %}
        </section>

        <section id="certifications" class="{{ section_classes }}">
          <header>
            <h2 class="{{ section_title_classes }}">Certifications</h2>
          </header>

          {% for certification in certifications %}
            <section class="mb-2 {{ certification.metadata.class if "metadata" in certification else '' }}">
              <header class="flex">
                <h3 class="{{ section_subtitle_classes }}">
                  <a href="{{ certification.url }}" target="_blank" rel="noopener" class="hover:text-green-500 transition duration-100 ease-in">
                    {{ certification.name }}
                  </a>
                </h3>

                <span class="ml-3 {{ section_subtitle_info_classes }}">{{ certification.date }}</span>
              </header>
            </section>
          {% endfor %}
        </section>

        <section id="projects" class="{{ section_classes }}">
          <header>
            <h2 class="{{ section_title_classes }}">Projects</h2>
          </header>

          {% for project in projects %}
            <section class="mb-5">
              <header>
                <h3 class="{{ section_subtitle_classes }}">
                  <a href="{{ project.url }}" target="_blank" rel="noopener" class="group hover:text-green-500 transition duration-100 ease-in">
                    {{ project.name }}
                  </a>
                </h3>
              </header>

              <div class="{{ prose_classes }}>">
                {{ project.description | markdown }}
              </div>
            </section>
          {% endfor %}
        </section>

        <section id="skills" class="{{ section_classes }}">
          <header>
            <h2 class="{{ section_title_classes }}">Skills</h2>
          </header>

          <div class="my-3 last:pb-2">
            <ul class="flex flex-wrap gap-2 text-md leading-relaxed">
              {% for skill in skills %}
                <li class="px-2 py-1 bg-slate-50 dark:bg-slate-900/20 text-slate-700 dark:text-slate-300 text-sm font-medium border border-slate-200 dark:border-slate-700">
                  {{ skill }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>

        <section id="interests" class="{{ section_classes }} print:hidden">
          <header>
            <h2 class="{{ section_title_classes }}">Interests</h2>
          </header>

          <div class="my-3 last:pb-2">
            <ul class="flex flex-wrap gap-2 text-md leading-relaxed">
              {% for interest in interests %}
                <li class="px-2 py-1 bg-slate-50 dark:bg-slate-900/20 text-slate-700 dark:text-slate-300 text-sm font-medium border border-slate-200 dark:border-slate-700">
                  {{ interest }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>

        <section id="contact" class="{{ section_classes }}">
          <header>
            <h2 class="{{ section_title_classes }}">Contact</h2>
          </header>

          <ul class="list-inside pr-7">
            {% for item in social %}
            <li class="mt-1 leading-normal text-gray-500 dark:text-gray-300 text-md">
              {{ item.name }}:

              <a href="{{ item.url }}" target="_blank" rel="noopener" class="font-semibold group text-slate-600 dark:text-slate-300 leading-normal hover:text-green-500 transition duration-100 ease-in">
                {{ item.display }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
  </main>
</body>
</html>
