<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ info.name }} | Resume</title>
  <meta name="author" content="{{ info.name }}">
  <meta name="description" content="This website is a resume website that showcases my professional experience, education, and skills. The website is built using Python and Node.js.">

  <meta property="og:title" content="{{ info.name }} | Resume">
  <meta property="og:site_name" content="{{ info.name }} | Resume">
  <meta property="og:description" content="This website is a resume website that showcases my professional experience, education, and skills. The website is built using Python and Node.js.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ url }}/img/thumbnail.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ url }}/img/thumbnail.png">
  <meta name="twitter:title" content="{{ info.name }}">
  <meta name="twitter:description" content="This website is a resume website that showcases my professional experience, education, and skills. The website is built using Python and Node.js.">
  <meta name="twitter:site" content="{{ info.twitter }}">

  <!-- Favicon -->
  <link rel="icon" href="img/favicon.svg">

  <!-- Tailwind CSS -->
  <link rel="stylesheet" href="css/tailwind.css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/main.css">

  <!-- Custom JS -->
  <script src="js/dark.js"></script>
</head>
<body>
  <main class="bg-white dark:bg-slate-800 text-black dark:text-white hind text-base font-light leading-normal tracking-normal">
    <div class="w-full h-3 bg-gradient-to-r from-lime-500 via-green-500 via-emerald-500 to-teal-500 print:hidden"></div>

    <div id="page" class="m-0 p-6 mx-auto max-w-2xl print:max-w-5xl md:max-w-5xl md:h-letter xsm:p-8 sm:p-9 md:p-16">

      <header class="mb-8">
        <h1 class="text-3xl montserrat font-bold text-gray-700 dark:text-white pb-px">{{ info.name }}</h1>
        <p class="text-xl text-gray-600 dark:text-slate-200 leading-normal">{{ info.headline }}</p>
      </header>

      <div id="main" class="md:columns-2 print:columns-2">
        <section id="about" class="break-inside-avoid">
          <header>
            <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">About Me</h2>
          </header>

          <p class="mb-3 text-gray-700 dark:text-gray-300">{{ summary }}</p>
        </section>

        <section id="experience" class="break-inside-avoid">
          <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">Experience</h2>

          {% for workplace in experience %}
            <section class="mb-5">
              <header>
                <h3 class="text-lg montserrat font-semibold text-gray-700 dark:text-gray-300 leading-snug">{{ workplace.title }} · {{ workplace.name }}</h3>
                <p class="text-md text-gray-600 dark:text-gray-400 leading-normal">{{ workplace.location }} · {{ workplace.date }}</p>
              </header>

              <ul>
                {% for subsection in workplace.subsections %}
                <li class="mt-2 text-md text-gray-700 dark:text-gray-300 leading-normal">
                  <span class="absolute -ml-3 sm:-ml-3 select-none transform -translate-y-px">›</span>

                  <span>{{ subsection.description }}</span>
                </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </section>

        <section id="education" class="break-inside-avoid">
          <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">Education</h2>

          {% for school in education %}
            <section class="mb-5">
              <header>
                <h3 class="text-lg montserrat font-semibold text-gray-700 dark:text-gray-300 leading-snug">{{ school.name }}</h3>
                <p class="text-md text-gray-600 dark:text-gray-400 leading-normal">{{ school.date }} · {{ school.degree }}</p>
              </header>
            </section>
          {% endfor %}
        </section>

        <section id="projects" class="break-inside-avoid">
          <header>
            <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">Projects</h2>
          </header>

          {% for project in projects %}
            <section class="mb-5">
              <header>
                <h3 class="mb-1 text-lg montserrat font-semibold text-gray-700 dark:text-gray-300 leading-snug">
                  <a href="{{ project.url }}" target="_blank" rel="noopener" class="group">
                    {{ project.name }}
                    <span class="inline-block text-gray-500 dark:text-white print:text-black font-normal group-hover:text-green-500 transition duration-100 ease-in">↗</span>
                  </a>
                </h3>
              </header>

              <p class="text-md text-gray-700 dark:text-gray-300 leading-normal">{{ project.description }}</p>
            </section>
          {% endfor %}
        </section>

        <section id="skills" class="break-inside-avoid">
          <header>
            <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">Skills</h2>
          </header>

          <div class="my-3 last:pb-2">
            <ul class="flex flex-wrap text-md leading-relaxed -mr-2 -mb-2">
              {% for skill in skills %}
                <li class="px-2 mr-2 mb-2 text-base text-gray-700 dark:text-gray-200 print:bg-white print:border-inset bg-gray-200 dark:bg-gray-700">
                  {{ skill }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>

        <section id="interests" class="break-inside-avoid">
          <header>
            <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">Interests</h2>
          </header>

          <div class="my-3 last:pb-2">
            <ul class="flex flex-wrap text-md leading-relaxed -mr-2 -mb-2">
              {% for interest in interests %}
                <li class="px-2 mr-2 mb-2 text-base text-gray-700 dark:text-gray-200 print:bg-white print:border-inset bg-gray-200 dark:bg-gray-700">
                  {{ interest }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>

        <section id="contact" class="break-inside-avoid">
          <header>
            <h2 class="mb-4 montserrat font-bold uppercase tracking-widest text-sm2 text-gray-500 dark:text-white print:font-normal">Contact</h2>
          </header>

          <ul class="list-inside pr-7">
            {% for item in social %}
            <li class="mt-1 leading-normal text-gray-500 dark:text-gray-300 text-md">
              {{ item.name }}:

              <a href="{{ item.url }}" target="_blank" rel="noopener" class="group text-gray-700 dark:text-white">
                {{ item.display }}
                <span class="inline-block print:text-black font-normal group-hover:text-green-500 transition duration-100 ease-in">↗</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
  </main>
</body>
</html>
