<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ info.name }} | Cover Letter</title>

  <script src="https://cdn.tailwindcss.com/3.1.8?plugins=typography"></script>
</head>
<body class="font-sans font-light leading-normal tracking-normal">
  <div class="w-full h-3 bg-gradient-to-r from-lime-500 via-green-500 via-emerald-500 to-teal-500"></div>

  <div class="min-h-screen py-8 flex flex-col justify-center overflow-hidden lg:py-12">
    <div class="w-full px-6 py-12 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28">

      <div class="mt-8 prose prose-green mx-auto lg:prose-lg">
        <h1 class="mb-1 xl:mb-1">Dezmerean Robert</h1>
        <p class="lead mt-1 xl:mt-1">Software Developer</p>

        <!-- Copy text here! -->
      </div>
    </div>
  </div>
</body>
</html>
